<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1">
  <test name="Test">
    <classes>
      <class name="com.samir.automationframework.pomautomationframework.ElementTextBoxTest"/>
      <class name="com.samir.automationframework.pomautomationframework.ElementWebTableTest"/>
      <class name="com.samir.automationframework.pomautomationframework.ElementTextBoxTest"/>
      <class name="com.samir.automationframework.pomautomationframework.ElementsButtonsTest"/>
      <class name="com.samir.automationframework.pomautomationframework.SliderTest"/>
      <class name="com.samir.automationframework.pomautomationframework.TabsWindowsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
